#lightbox {
  margin: 0 auto;
  padding: 0;
  width: 80vw; 

}

#lightbox li img:hover {
	opacity: .7;
}

#lightbox h5 {
  font-family: 'Proxmima Nova', sans-serif;
  font-weight: 300;
  display: block;
}

#lightbox h4 {
  font-family: 'Proxmima Nova', sans-serif;
  font-weight: 300;
  font-size: .75em;
  display: block;
}


/*Image styles*/
#lightbox ul {
  margin: 0;
  padding: 0;
}
#lightbox ul li {
  float: left;
  width: 24.5%;
  display: inline-block;
  margin: 0 .125em;
  list-style: none;
  position: relative;
  cursor: pointer;
}
/*No right margin for images in the 2nd column*/
#lightbox ul li img {
  width: 100%;
  margin: 0;
  padding: 0;
}

/*Image titles*/
#lightbox .image_title {
  margin-top: 12%;
  padding: 5% 0;
  width: 100%; 
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0; left: 0;
  display: table;
  /*Hover effect - default state*/
  opacity: 0;
  transition: all 0.5s;
}
#lightbox .title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  /*Vertical center align*/
  display: table-cell;
  /*Hover effect - default state*/
  transform: scale(0.2);
  transition: all 0.25s;
  display: block;
  margin-bottom: 0;
}

#lightbox .subtitle {
  color: #fff;
  text-transform: uppercase;
  font-size: .75em;
  text-align: center;
  /*Vertical center align*/
  display: table-cell;
  /*Hover effect - default state*/
  transform: scale(0.2);
  transition: all 0.25s;
  display: block;
}
/*Zoom icon over each title using iconfont and pseudo elements*/
/*Hover states*/
#lightbox li:hover .image_title {
  opacity: 1;
}
#lightbox li:hover .title,
#lightbox li:hover .subtitle {
  transform: scale(1);
}




/* === Pop Up Styling === */


.popup-trigger {
  text-align: center;
  color: #FFF;
  border: 1px solid white;
  padding: .1em;
  text-transform: uppercase;
}

.popup-01,
.popup-02,
.popup-03,
.popup-04,
.popup-05,
.popup-06,
.popup-07,
.popup-08,
.popup-09,
.popup-10,
.popup-11,
.popup-12  {
  display: block;
  background: rgba(0,0,0,.7);
  height: 200%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 99999999999999999999;
}

article.noscroll{
    position:fixed;
    overflow:hidden;
}


.popup-01.is-visible,
.popup-02.is-visible,
.popup-03.is-visible,
.popup-04.is-visible,
.popup-05.is-visible,
.popup-06.is-visible,
.popup-07.is-visible,
.popup-08.is-visible,
.popup-09.is-visible,
.popup-10.is-visible,
.popup-11.is-visible,
.popup-12.is-visible {

  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
  z-index: 999999999999999999999999999999;
}

.popup-container {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 75%;
  margin: 1em auto;
  background: #FFF;
  text-align: center;
  z-index: 999;
  
}

.popup-container img {
	width: 60%;
	float: left;
	display: inline-block;
	padding: 5%;
}

.projectDescription {
	width: 23%;
	float: left;
	padding-right: 5%;
	margin-top: 5%;
}

.popup-container h3 {
	text-align: left;
	font-size: 1.25em;
	margin-top: 10%;
	font-weight: 500;
	margin-bottom: 0;

}

.popup-container h4 {
	text-align: left;
	font-size: 1em;
	font-weight: 300;
	margin-top: 1%;
	font-style: italic;

}

.popup-container p {
	text-align: left;
	font-size: .8em;
	font-weight: 300;
	margin-top: 1%;

}

.popup-container .buttons:after {
  content: "";
  display: table;
  clear: both;
}
.popup-container .buttons li {
  float: left;
  width: 50%;
  list-style: none;
}
.popup-container .buttons a {
  display: block;
  height: 3.75em;
  line-height: 3.75em;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.popup-container .popup-close {
  color: #df3836;
  position: absolute;
  top: .5em;
  right: .5em;
  width: .625em;
  height: .625em;
}

.popup-close {
  position: absolute;
  bottom: .5em;
  right: .5em;
}


.overlay{
  background: black;
  position:fixed;
  width:100vw;
  height: 100vh;
  z-index: 0;
  display:none;
  top:0;
  left:0;
}
