/***********

lightgray: #e0e0df;
littledarker: #aaaaaa;
mediumgray: #7f7f7f;
darkgray: #3a3a3a;

***********/



/*--------------------------------------------LAYOUT--------------------------------------------*/

body {
	background: #F2F2F2;
	color: #262626;
	font-family: 'Open Sans', sans-serif;

}


.header {
	width: 100%;
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 0;
	z-index: 9999;
}

main {
	width: 70%;
	display: block;
	margin: 5% auto;

}

/*------------------------------------------TYPOGRAPHY------------------------------------------*/

h1 {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 0;
	color: #3a3a3a;
	text-align: center;

}

h2 {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 300;
	margin: 0;
	text-align: center;
}

h3 {
	font-weight: 300;
	font-size: .9em;
}

h4 {
	margin-top: 5%;
	font-weight: 400;
	margin-bottom: .5em;
}

h5 {
	margin-top: 5%;
	font-weight: 400;
	margin: 0;
	font-weight: 300;

}

h6 {
	font-style: italic;
	font-weight: 300;
	font-size: 1em;
}

p {
	font-family: sans-serif;
	font-weight: 300;
	font-size: .9em;
	margin: 2% 0 7% 0;
	line-height: 1.5em;
}

/*--------------------------------------------HEADER--------------------------------------------*/



.ewu_logo {
	width: 9em;
	display: block;
	float: right;
	padding: 1% 1% 1% 90%;
	background: #ddd;
}

.header nav ul.nessst_logo a img {
	width: 7em;
	display: inline-block;
	margin: 0;
	float: left;
}

.header nav {
	width: 100%;
	display: block;
	margin: 0 auto;
	z-index: 9999999999;
}

.header nav ul {
	display: inline-block;
	z-index: 99999;
}

.header nav ul.primaryNav {
	float: right;
	margin: 3% 5% 0 0;
}

.header nav ul.socialMedia {
	float: right;
	margin: 2em 0 0 0;
}

.header nav ul.socialMedia a:first-of-type {
	margin-right: -.5em;
}

.header nav ul.socialMedia a:hover {
	opacity: .5;
}

.header nav ul.socialMedia a img {
	width: 3em;
	margin-bottom: 0;
	padding-bottom: 0;

}

.header nav li {
	list-style: none;
}

.header nav li a {
	text-decoration: none;
	color: #3a3a3a;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1em;
	margin-left: 3em;
}

.header nav li a:hover {
	color: #A65D5D;
}

.parallax-container {
	background: #fbae18;
	z-index: -9999;
}

.parallax-container img {
	width: 40%;
	display: block;
	margin: 0 auto;
	padding-top: 10%;
}

img.arrow {
	width: 3%;
	padding-top: 2%;
}




.container .arrow > img { width:3%; }
.arrow { 
	position:relative; 
	top:-2em; 
	margin-right:0%; }
.bounce {
  -webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-webkit-animation-duration: 0.75s;
	-moz-animation-duration: 0.75s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-moz-animation-direction: alternate;
	-webkit-animation-timing-function: eaze-in-out;
	-moz-animation-timing-function: eaze-in-out;
}
@-webkit-keyframes bounce {
	from { top:1em; }
	to { top:2em; }
}
@-moz-keyframes bounce {
	from { top:1em; }
	to { top:2em; }
}



/*--------------------------------------------BANNER--------------------------------------------*/

.banner {
	width: 100%;
	display: block;
	margin: 0 auto;
	position: relative;
	z-index: -999;
	padding-bottom: 4%;

}

.banner svg {
	z-index: -9999999999999999;
	margin: -4% 0;
}

.banner h1 {

	color: #fff;
}


.banner p {

	color: #fff;
}


.banner img {
	margin: 0;
	padding: 0;
	display: inline-block;
	-webkit-filter: saturate(-6);
}

.home .banner img:nth-child(1) {
	width: 100%;
	display: inline-block;
	float: left;
}

.home .banner img:nth-child(2),
.home .banner img:nth-child(3) {
	width: 35.714286%;
	display: block;
	float: right;
}

.programs .banner img,
.portfolio .banner img,
.professional .banner img {
	width: 100%;
}


.banner .secondaryNav {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background: rgba(58,58,58,.3);

}

.programs .banner .secondaryNav ul:last-of-type {
	float: right;
	margin-right: 2.5%;
}

.banner-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 40%;
	margin: 10% 0 0 5%;
}

.banner-content a {
	border: 1px solid #fff;
	padding: 1.25em 1.5em;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	background: #fff;
	font-weight: 700;
	font-size: .9em;
}

.banner-content a:hover {
	opacity: .7;
}

.banner-content h2 {
	color: #fff;
}

.column a {
	text-decoration: none;
	color: #262626;

}

.column a img:hover,
.column a h3:hover {
	opacity: .5;
}

.column a h3 {
	width: 200%;
	margin-left: -50%;
	margin-top: 30%;
}




/*------------------------------------------CONTENT------------------------------------------*/

.content {
	width: 80%;
	display: block;
	margin: 0 auto 0 auto;
	padding: 5%;
}


.content h1 {
	text-align: center;
	margin-top: 5%;
}

.programs .content {
	margin-bottom: 10%;
}

.divider {
	display: block;
	margin: 0 auto;
	padding: 2.5% 0;
}

.content p:first-of-type {
	width: 75%;
	display: block;
	margin: 0 auto;
	text-align: center;
	line-height: 1.75em;
	font-size: 1em;
}

.programs .content p:first-of-type {
	width: 100%;

}

.column {
	width: 33%;
	display: inline-block;
	margin: 12% auto 0 auto;
	vertical-align: top;
}

.column img {
	width: 50%;
	display: block;
	margin: 0 auto;
}

.column h3 {
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 700;
	text-align: center;
	margin-top: 10%;
}

.content .column p {
	font-size: .8em;
}

table {
	font-size: .9em;
	font-weight: 300;
}


table td {
	padding-right: 2.5em;
}

table:first-of-type td,
table:last-of-type td {
	padding-right: 3.5em;
}

.bfa table:first-of-type td{
	padding-right: 1.25em;

}

.professional h4,
.professional p {
	margin-bottom: 0;
	padding-bottom: 0;
}

.professional .content h4:first-of-type {
	margin-top: 2em;
}

.professional .content h4 {
	margin-top: 0em;
}



.events {
	width: 100%;
	display: inline-block;
	margin: 5% 0 0 0;
	padding: 0;
}

.events img:first-of-type {
	width: 64.285714%;
	display: inline-block;
	float: left;
}

.events img:last-of-type {
	width: 35.714286%;
	display: inline-block;
	float: right;
}

.event_01 {
	position: absolute;
	top: 0;
	left: 0;
}

.event_02 {
	position: absolute;
	top: 0;
	right: 0;
}

.events h1 {
	text-align: center;
	margin-bottom: 2.5%;
}

.events a {
	border: 1px solid #fff;
	padding: 1.25em 1.5em;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	background: #fff;
	font-weight: 700;
	font-size: .9em;
	display: block;
	margin-top: 5%;
	width: 45%;
}


/*------------------------------------------SIDEBAR------------------------------------------*/


.twoColumnContent {
	width: 50%;
	display: inline-block;
	float: left;
	position: relative;
	margin-left: 8%;
}

.sidebar {
	width: 30%;
	display: inline-block;
	float: right;
	position: relative;
	border-left: 1px solid #ddd;
	padding-left: 5%;

}

.sidebar h2 {
	margin-top: 12%;
	font-weight: 600;
}

.sidebar h2:first-of-type {
	margin-top: 2%;
}

.programs .sidebar h3,
.professional .sidebar h3 {
	font-weight: 400;
}


.sidebar p {
	width: 100%;
	padding: 0 0 10% 0;
	margin: 10% auto;
	font-family: 'Lato', sans-serif;
}

.sidebar a {
	text-decoration: none;
	color: #005254;
	padding-left: 5%;
}


/*------------------------------------------GALLERY------------------------------------------*/


.gallery h6 {
	text-align: center;
	margin-top: 1%;
	margin-bottom: 5%;
}
.gallery {
	margin: 0 auto;
	padding: 0;
	width: 80%;
}
.gallery li {
	width: 24%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.gallery li img {
	width: 100%;
	padding: 0;
	margin: 0;
}
.gallery li a{
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
	margin-top: -.5%;
}



.gallery li figure{
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	position: relative;
	margin: 0;
	padding: 0;
}

.gallery .galleryTitle{
	color:white;
	display:table;
	height:100%;
	left:0;
	opacity:0;
	position:absolute;
	right:0;
	top:0;
	z-index: 100;
}


/*Gallery Hover*/

.gallery li:hover .galleryTitle{
	opacity: 1;
	height: 100%;
	width: 100%;
	padding: 40% 0 50% 0;
	text-align: center;
	background: rgba(0,0,0,0.6);
}




#lightbox {
  margin: 0 auto;
  padding: 0;
  width: 80vw; 

}

#lightbox li img:hover {
	opacity: .7;
}

#lightbox h5 {
  font-family: 'Proxmima Nova', sans-serif;
  font-weight: 300;
  display: block;
}

#lightbox h4 {
  font-family: 'Proxmima Nova', sans-serif;
  font-weight: 300;
  font-size: .75em;
  display: block;
}


/*Image styles*/
#lightbox ul {
  margin: 0;
  padding: 0;
}
#lightbox ul li {
  float: left;
  width: 24.5%;
  display: inline-block;
  margin: 0 .125em;
  list-style: none;
  position: relative;
  cursor: pointer;
}
/*No right margin for images in the 2nd column*/
#lightbox ul li img {
  width: 100%;
  margin: 0;
  padding: 0;
}

/*Image titles*/
#lightbox .image_title {
  margin-top: 12%;
  padding: 5% 0;
  width: 100%; 
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0; left: 0;
  display: table;
  /*Hover effect - default state*/
  opacity: 0;
  transition: all 0.5s;
}
#lightbox .title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  /*Vertical center align*/
  display: table-cell;
  /*Hover effect - default state*/
  transform: scale(0.2);
  transition: all 0.25s;
  display: block;
  margin-bottom: 0;
}

#lightbox .subtitle {
  color: #fff;
  text-transform: uppercase;
  font-size: .75em;
  text-align: center;
  /*Vertical center align*/
  display: table-cell;
  /*Hover effect - default state*/
  transform: scale(0.2);
  transition: all 0.25s;
  display: block;
}
/*Zoom icon over each title using iconfont and pseudo elements*/
/*Hover states*/
#lightbox li:hover .image_title {
  opacity: 1;
}
#lightbox li:hover .title,
#lightbox li:hover .subtitle {
  transform: scale(1);
}




/* === Pop Up Styling === */


.popup-trigger {
  text-align: center;
  color: #FFF;
  border: 1px solid white;
  padding: .1em;
  text-transform: uppercase;
}

.popup-01,
.popup-02,
.popup-03,
.popup-04,
.popup-05,
.popup-06,
.popup-07,
.popup-08,
.popup-09,
.popup-10,
.popup-11,
.popup-12  {
  display: block;
  background: rgba(0,0,0,.7);
  height: 200%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 99999999999999999999;
}

article.noscroll{
    position:fixed;
    overflow:hidden;
}


.popup-01.is-visible,
.popup-02.is-visible,
.popup-03.is-visible,
.popup-04.is-visible,
.popup-05.is-visible,
.popup-06.is-visible,
.popup-07.is-visible,
.popup-08.is-visible,
.popup-09.is-visible,
.popup-10.is-visible,
.popup-11.is-visible,
.popup-12.is-visible {

  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
  z-index: 999999999999999999999999999999;
}

.popup-container {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 75%;
  margin: 1em auto;
  background: #FFF;
  text-align: center;
  z-index: 999;
  
}

.popup-container img {
	width: 60%;
	float: left;
	display: inline-block;
	padding: 5%;
}

.projectDescription {
	width: 23%;
	float: left;
	padding-right: 5%;
	margin-top: 5%;
}

.popup-container h3 {
	text-align: left;
	font-size: 1.25em;
	margin-top: 10%;
	font-weight: 500;
	margin-bottom: 0;

}

.popup-container h4 {
	text-align: left;
	font-size: 1em;
	font-weight: 300;
	margin-top: 1%;
	font-style: italic;

}

.popup-container p {
	text-align: left;
	font-size: .8em;
	font-weight: 300;
	margin-top: 1%;

}

.popup-container .buttons:after {
  content: "";
  display: table;
  clear: both;
}
.popup-container .buttons li {
  float: left;
  width: 50%;
  list-style: none;
}
.popup-container .buttons a {
  display: block;
  height: 3.75em;
  line-height: 3.75em;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.popup-container .popup-close {
  color: #fc9003;
  position: absolute;
  top: .5em;
  right: .5em;
  width: .625em;
  height: .625em;
}

.popup-close {
  position: absolute;
  bottom: .5em;
  right: .5em;
}


.overlay{
  background: black;
  position:fixed;
  width:100vw;
  height: 100vh;
  z-index: 0;
  display:none;
  top:0;
  left:0;
}



/*  
    Recommeded CSS
    ==============
*/

.panel {
    position: fixed;
    left: -15.625em; /*or width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

/*  







/*------------------------------------------program tabs------------------------------------------*/


.programs .content h1 {
	text-align: center;
	margin-top: 0;
}


.programs .column img {
	width: 180%;
	margin-left: -40%;
}

.tabs {
    width:100%;
    display:inline-block;
}

.tab-links {
	text-align: center;
	margin: -2em 0 4em 0;
}

.tab-links:after {
    display: block;
    clear: both;
    content:'';
}
 
.tab-links li {
	display: inline-block;
    margin: 0 auto;
    list-style: none;
    width: 33%;
    padding: 0;
}

.tab-links li img {
	width: 100%;
}
 
 
.tab-links a:hover {
	opacity: .8;
    text-decoration:none;
}

 
.tab-content {
    padding:15px;
}
 
.tab {
    display:none;
}
 
.tab.active {
    display:block;
    opacity: .8;

}


.professional .twoColumnContent {
	margin-top: 5%;
}

.industry a{
	color: black;
	text-decoration: none;
	font-size: .9em;
	font-weight: 300;

}

.industry a:hover {
	opacity: .6;

}

.industry li {
	list-style: none;
	margin-top: 0;
}

.industry ul {
	margin-top: .25em;
}

.videos {
	width: 80%;
	display: block;
	margin: 0 auto;
}


video {
	width: 32%;
	float: right;
}

video:first-of-type {
	width: 67%;
	float: left;
}

video:last-of-type {
	margin-top: 1.75%;
}

.videos a {
	width: 100%;
	text-align: right;
	text-decoration: none;
}



/*------------------------------------------FOOTER------------------------------------------*/

.footer {
	width: 100%;
	display: block;
	float: left;
	background: #aaa;
	padding: 0;
	margin-top: 5%;
}

.footer h6 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	font-size: .6em;
}




/*CLEARFIX*/
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

