/***********

lightgray: #e0e0df;
littledarker: #aaaaaa;
mediumgray: #7f7f7f;
darkgray: #3a3a3a;
red: #df3836;

***********/



/*--------------------------------------------LAYOUT--------------------------------------------*/

html {
	font-size: 16px;
}
body {
	background: #F2F2F2;
	color: #262626;
	font-family: 'Open Sans', sans-serif;
	max-width: 100%;

}


.header {
	width: 100%;
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 0;
	z-index: 9999;
}

.home main {
	width: 100%;
	display: block;
	margin: 5% auto;

}

.info {
	background: #cccccc;
	padding: 5% 5% 10% 8%;
	position: relative;
}

.programs .tab-content .content p {
	width: 80%;
	display: block;
	margin: 0 auto;
}

/*------------------------------------------TYPOGRAPHY------------------------------------------*/

h1 {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 0;
	color: #df3836;
	text-align: center;

}

h2 {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 300;
	margin: 0;
	text-align: center;
}

h3 {
	font-weight: 300;
	font-size: .9em;
}

h4 {
	margin-top: 5%;
	font-weight: 400;
	margin-bottom: .5em;
}

h5 {
	margin-top: 5%;
	font-weight: 400;
	margin: 0;
	font-weight: 300;

}

h6 {
	font-style: italic;
	font-weight: 300;
	font-size: 1em;
}

p {
	font-family: sans-serif;
	font-weight: 300;
	font-size: .9em;
	margin: 2% 0 7% 0;
	line-height: 1.5em;
}

/*--------------------------------------------HEADER--------------------------------------------*/



.ewu_logo {
	width: 9em;
	display: block;
	float: right;
	padding: 1% 1% 1% 90%;
	background: #ddd;
}

.header nav ul.nessst_logo a img {
	width: 7em;
	display: inline-block;
	margin: 15% 0;
	float: left;
}

.header nav {
	width: 100%;
	display: block;
	margin: 0 auto;
	z-index: 9999999999;
	border-bottom: 3px solid rgba(255,255,255,.4);
}

.header nav ul {
	display: inline-block;
	z-index: 99999;
}

.header nav ul.primaryNav {
	float: right;
	margin: 2.5% 5% 0 0;
}






.header nav li {
	list-style: none;
	color: #fff;
}

.header nav li a {
	text-decoration: none;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 1em;
	color: #fff;
	margin: 0 1em 0 1.5em;
}

.header nav li a:hover {
	border-bottom: 3px solid #df3836;
	padding-bottom: 1%;
}

.parallax-container {
	background: url(../img/homebanner.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -5%;
}

.parallax-container img {
	width: 40%;
	display: block;
	margin: 0 auto;
	padding-top: 10%;
}

main svg {
	margin-top: -12%;
}

.home main svg:first-of-type{
	margin-bottom: 5%;
}

.home main .tabs svg {
	margin: 3% 0 -2% 0;
}

.tabs h4 {
	padding: 0 0 2% 4.5%;
}

.tabs h1 {
	padding-bottom: 2%;
}
.programs .featured {
	margin-top: -5%;
}

.home .featured svg {
		margin-top:-11%;
}

.featured svg {
	display: block;
	position: relative;
}

.featured h1 {
	width: 23%;
	float: left;
	text-align: right;
	padding: 3.5% 0 0 10%;
}

.event_container {
	width: 52%;
	margin-right: 10%;
	float: right;
	padding-top: 2.5%;
	border-bottom: 1px solid #ccc;
}

.event_container:first-of-type {
	padding-top: 5%;
}

.event_container:last-of-type {
	border-bottom: 0;
}

.event_container img {
	width: 25%;
	display: inline-block;
	float: left;
}

.event {
	width: 60%;
	float: left;
	padding-left: 5%;
}

.event h2 {
	width: 75%;
	display: inline-block;
	text-align: left;
	color: #df3836;
	font-weight: 500;
	font-size: 1.25em;
}

.event h3 {
	width: 75%;
	display: inline-block;
	text-align: left;
	font-weight: 700;
}

.home .content {
	margin-top: -2.5%;
	padding-top: 0;
}
.home .parallax-container h1 {
	color: #df3836;
	padding-top: 25%;
	font-size: 3.5em;
	font-weight: 700;
}

.home .parallax-container h2 {
	color: #fff;
	font-size: 2em;
	font-weight: 500;
}

.professional .tabs h1 {
	width: 100%;
	text-align: left;
	padding-left: 10%;
}

.professional .tabs p {
	width: 40%;
	text-align: left;
	padding-left: 10%;
	margin: 1% 0 3% 0;
}

.programs .parallax-container h1,
.portfolio .parallax-container h1,
.professional .parallax-container h1 {
	color: #df3836;
	padding-top: 15%;
	font-size: 3.5em;
	font-weight: 700;
}

.programs .parallax-container h2,
.portfolio .parallax-container h2,
.professional .parallax-container h2 {
	color: #fff;
	font-size: 2em;
	font-weight: 500;
}



.container .arrow > img { 
	width:2%; 
}

.arrow { 

	position:relative; 
	top:0; 
	margin: 2% 0 0 0; 
}

.bounce {
  -webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-webkit-animation-duration: 0.75s;
	-moz-animation-duration: 0.75s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-moz-animation-direction: alternate;
	-webkit-animation-timing-function: eaze-in-out;
	-moz-animation-timing-function: eaze-in-out;
}
@-webkit-keyframes bounce {
	from { top:1em; }
	to { top:2em; }
}
@-moz-keyframes bounce {
	from { top:1em; }
	to { top:2em; }
}




/*------------------------------------------CONTENT------------------------------------------*/

.content {
	width: 80%;
	display: block;
	margin: 0 auto 0 auto;
	padding: 5%;
}


.content h1 {
	text-align: center;
	margin-top: 5%;
}

.programs .content {
	margin-bottom: 15%;
}

img.divider {
	width: 2em;
	display: block;
	margin: 0 auto;
	padding: 2.5% 0;
}

.content h3 {
	display: block;
	width: 100%;
}

.content p {
	width: 50%;
	display: block;
	margin: 2% 5% 0 15%;
	float: right;
}

.content p:first-of-type {
	line-height: 1.75em;
	font-size: 1.5em;
	color: #df3836;
	font-style: italic;
	font-weight: 500;
	text-align: left;
	width: 60%;
	float: right;
	display: block;
	margin: 0 5% 0 5%;

}

.content p:first-of-type em {
	font-size: .75em;
	color: black;

}

.gray-bg {
	background: #CCCCCC;
}


.column {
	width: 25%;
	display: inline-block;
	margin: 0 2.5% 0 4%;
	position: relative;
	vertical-align: top;
}



.column h3 {
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 500;
	margin: 10% 0 0 0;
	color: #df3836;;
}

.column h4 {
	margin: 0 0 10% 0;
}

.column p {
	font-size: .8em;
	padding-bottom: 15%;
}

.info a:first-of-type {
	margin-left: 4.5%;
}

.info a {
	background: #df3836;
	text-decoration: none;
	color: #000;
	padding: 1% 2.5%;
	font-size: .8em;
	text-transform: uppercase;
}

.info a:hover {
	background: #000;
	color: #fff;
}

.column a img:hover,
.column a h3:hover {
	opacity: .5;
}

.column a h3 {
	margin-left: -50%;
	margin-top: 30%;
}

table {
	font-size: .9em;
	font-weight: 300;
}


table td {
	padding-right: 2.5em;
}

table:first-of-type td,
table:last-of-type td {
	padding-right: 3.5em;
}

.bfa table:first-of-type td{
	padding-right: 1.25em;

}

.professional h4,
.professional p {
	margin-bottom: 0;
	padding-bottom: 0;
}

.professional .content h4:first-of-type {
	margin-top: 2em;
}

.professional .content h4 {
	margin-top: 0em;
}



.events {
	width: 100%;
	display: inline-block;
	margin: 5% 0 0 0;
	padding: 0;
}

.events img:first-of-type {
	width: 64.285714%;
	display: inline-block;
	float: left;
}

.events img:last-of-type {
	width: 35.714286%;
	display: inline-block;
	float: right;
}

.event_01 {
	position: absolute;
	top: 0;
	left: 0;
}

.event_02 {
	position: absolute;
	top: 0;
	right: 0;
}

.events h1 {
	text-align: center;
	margin-bottom: 2.5%;
}

.events a {
	border: 1px solid #fff;
	padding: 1.25em 1.5em;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	background: #fff;
	font-weight: 700;
	font-size: .9em;
	display: block;
	margin-top: 5%;
	width: 45%;
}


/*------------------------------------------SIDEBAR------------------------------------------*/


.twoColumnContent {
	width: 50%;
	display: inline-block;
	float: left;
	position: relative;
	margin-left: 8%;
}

.sidebar {
	width: 30%;
	display: inline-block;
	float: right;
	position: relative;
	border-left: 1px solid #ddd;
	padding-left: 5%;

}

.sidebar h2 {
	margin-top: 12%;
	font-weight: 600;
}

.sidebar h2:first-of-type {
	margin-top: 2%;
}

.programs .sidebar h3,
.professional .sidebar h3 {
	font-weight: 400;
}


.sidebar p {
	width: 100%;
	padding: 0 0 10% 0;
	margin: 10% auto;
	font-family: 'Lato', sans-serif;
}

.sidebar a {
	text-decoration: none;
	color: #005254;
	padding-left: 5%;
}


/*------------------------------------------GALLERY------------------------------------------*/


.gallery h6 {
	text-align: center;
	margin-top: 1%;
	margin-bottom: 5%;
}
.gallery {
	margin: 0 auto;
	padding: 0;
	width: 80%;
}
.gallery li {
	width: 24%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.gallery li img {
	width: 100%;
	padding: 0;
	margin: 0;
}
.gallery li a{
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
	margin-top: -.5%;
}



.gallery li figure{
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	position: relative;
	margin: 0;
	padding: 0;
}

.gallery .galleryTitle{
	color:white;
	display:table;
	height:100%;
	left:0;
	opacity:0;
	position:absolute;
	right:0;
	top:0;
	z-index: 100;
}


/*Gallery Hover*/

.gallery li:hover .galleryTitle{
	opacity: 1;
	height: 100%;
	width: 100%;
	padding: 40% 0 50% 0;
	text-align: center;
	background: rgba(0,0,0,0.6);
}







/*  
    Recommeded CSS
    ==============
*/

.panel {
    position: fixed;
    left: -15.625em; /*or width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

/*  







/*------------------------------------------program tabs------------------------------------------*/



.programs .content h1 {
	text-align: center;
	margin-top: 0;
}

.portfolio .content h1 {
	text-align: center;
	margin-top: 0;
}

.programs .column img {
	width: 180%;
	margin-left: -40%;
}



.professional .twoColumnContent {
	margin-top: 5%;
}

.industry a{
	color: black;
	text-decoration: none;
	font-size: .9em;
	font-weight: 300;

}

.industry a:hover {
	opacity: .6;

}

.industry li {
	list-style: none;
	margin-top: 0;
}

.industry ul {
	margin-top: .25em;
}

.videos {
	width: 80%;
	display: block;
	margin: 0 auto;
	padding-bottom: 8%;
}


video {
	width: 32%;
	float: right;
}

video:first-of-type {
	width: 67%;
	float: left;
	padding-bottom: 2%;
}

video:last-of-type {
	margin-top: 1.75%;
}

.videos a {
  background: #df3836;
  text-decoration: none;
  color: #000;
  margin-top: 5%;
  padding: 1% 2.5%;
  font-size: .8em;
  text-transform: uppercase;
}



/*------------------------------------------FOOTER------------------------------------------*/

.footer {
	width: 100%;
	display: block;
	float: left;
	background: #333;
	padding: 0;
	margin-top: 5%;
}

.footer h6 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	font-size: .6em;
	color: #fff;
}



/*@media only screen and (min-device-width: 640px){

	.home .parallax-container h1 {
  font-size: 2em;
}

	.home .parallax-container h2 { 
  font-size: 1em;
}

.arrow {
  position: relative;
  top: 0;
  margin: 50% 0 0 0;
}

.container .arrow > img {
  width: 5%;
}

	.content p:first-of-type {
	text-align: left;
  width: 100%;
  margin: 0 auto;
}
.content p {
	text-align: left;
  width: 100%;
  margin: 0 auto;
}

.column {
  width: 90%;
  display: block;
}

.info a {
  
  width: 90%;
  display: block;
  margin: 0 auto;
  float: left;
  padding: 2% 0;
  text-align: center;
}

.info a:first-of-type {
  
  width: 90%;
  display: block;
  margin: 0 auto 3% auto;
  float: left;
}

.featured h1 {
  width: 100%;
  text-align: center;
  float: none;
  margin: 0 auto;
  padding: 0;
}

.event_container {
  width: 90%;
  margin: 0 auto;
  padding-top: 2.5%;
  border-bottom: 1px solid #ccc;
}

}*/




/*CLEARFIX*/
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

